<div id="main" class="page-404">
	<section>
		<div class="container">
			<div class="row">
                <div class="col-md-12">
                    <h1>{{ title }}</h1>
                    <p>{{ content|raw }}</p>
                </div>
			</div>
		</div>
	</section>
</div>

