<div id="main" class="page-dashboard">
	<section>
		<div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="module-head">
                        <h1>Dashboard</h1>
                    </div>
                    <p>{{ content|raw }}</p>
                    <div id="dashboard-widgets" class="row">
                        {{ widgets_html|raw }}
                    </div>
                </div>
			</div>
		</div>
	</section>
</div>

