<p>Hello {{ username }}</p>
<p>You have recently requested a password reset on your ipsCMS account.</p>
<p><a href="{{ reset_url }}">Click here</a> to reset your password or enter the following URL into your browser: {{ reset_url }}</p>
<p>If this was not you then please ignore this email and contact an administrator if you are at all concerned.</p>
<p>Kind regards,<br />ipsCMS Team</p>
