<div id="main" class="page blog blog-home">
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>{{ title }}</h1>
					<div class="dyn-content">
						{{ content|raw }}
					</div>
					<div id="blog-posts">
						{{ posts|raw }}
					</div>
					{{ pagination|raw }}
				</div>
			</div>
		</div>
	</section>
</div>
