<div class="blog-post-preview">
	<a class="blog-post-preview-inner row" href="{{ href }}">
		<div class="col-3">
			<div class="blog-post-preview-image" style="background-image:url('{{ featured_image_href }}');"></div>
		</div>
		<div class="blog-post-preview-content col-9">
			<h2>{{ title }}</h2>
			<p>{{ preview|raw }}</p>
		</div>
	</a>
</div>
