#popup.file-picker {
	width: 700px;
	max-width: 100%;
	height: 522px;

	fieldset.check, fieldset.radio {
		width: 100%;
		height: 400px;
		overflow-y: scroll;
		margin: 0 -5px;
		padding: 0;

		label {
			width: 25%;
			padding: 0 5px;
			margin-bottom: 10px;
			float: left;

			input {
				display: none;
			}

			.file-picker-item {
				position: relative;
				background-color: $white;
				border: 1px solid transparent;

				.file-picker-item-check {
					width: 18px;
					height: 18px;
					position: absolute;
					top: 0;
					right: 0;
					display: none;
					text-align: center;
					line-height: 20px;
					font-size: 18px;

					i {

					}
				}

				.file-picker-preview {
					width: 100%;

					&.image {
						padding-bottom: 100%;
						background-position: center;
						background-size: contain;
						background-repeat: no-repeat;
					}
				}
			}

			input:checked + .file-picker-item {
				border-color: red;

				.file-picker-item-check {
					display: block;
				}
			}
		}
	}

	#field-confirm {
		position: absolute;
		bottom: 10px;
		left: 10px;
		margin: 0;
		padding: 0;
	}

	#popup-buttons {
		position: absolute;
		right: 10px;
		bottom: 10px;

		.button {
			margin-left: 5px;
			float: left;
			@include md-down() {
				span {
					display: none;
				}
			}
		}
	}

	@include md-down() {
		width: 400px;
		height: 330px;

		fieldset.check, fieldset.radio {
			height: 200px;

			label {
				width: 50%;
			}
		}
	}
}

.file-picker {

	#field-file-picker-items {
		background-color: #f3f3f3;
		border-top: 5px solid #f3f3f3;
		border-bottom: 5px solid #f3f3f3;
	}

	.file-picker-selection {
		margin-bottom: 10px;

		.file-picker-preview-item {
			margin-bottom: 20px;

			.file-picker-preview-item-link {
				position: relative;
				display: block;

				.file-picker-preview-item-remove {
					width: 30px;
					height: 30px;
					position: absolute;
					top: 0;
					right: 0;
					background-color: rgba(#333, 0.9);
					text-align: center;
					font-size: 18px;
					line-height: 30px;

					i {
						color: $white;
					}

					&:hover {
						i {
							color: $href-colour;
						}
					}
				}
			}
		}

		@include clearfix();
	}

	&.multi {

	}

	&.image {

		.file-picker-preview-item {

			.file-picker-preview-item-image {
				width: 100%;
				padding-bottom: 100%;
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
			}
		}

		&.multi {
			.file-picker-preview-item {

			}
		}
	}
}
