#module-list {
	margin-bottom: 30px;

	ul {
		list-style-type: none;
		background-color: #F9F9F9;
		border: 1px solid #333;
		border-top: 2px solid #333;
		border-bottom: 2px solid #333;
		padding: 0 5px;

		li {
			width: 100%;
			border-bottom: 1px solid #333;
			padding: 5px 0;

			a {
				height: 25px;
				line-height: 25px;
			}
		}

		li {
			&:last-child {
				border: 0;
			}

			&:after {
				content: '';
				display: block;
				clear: both;
			}

			.button {
				float: right;
				margin-left: 10px;
				font-size: 14px;
				line-height: 26px;

				&.manage {
					padding: 0 8px;
				}

				&.remove {
					color: #B80000;
				}
			}
		}
	}
}

#module-list-empty {

}
