#module-head {
	width: 100%;
	margin: 20px 0;

	h1 {
		margin: 0;
		float: left
	}

	.button, button {
		width: auto;
		float: right;
		padding: 0 10px;
		margin-left: 10px;

		@include md-down {
			height: 40px;
			line-height: 48px;
			i {
				font-size: 24px;
				margin: 0;
			}
			span {
				display: none;
			}
		}
	}

	@include clearfix();
}
