#scroll-up {
	width: 40px;
	height: 40px;
	background-color: $colour-body-alt;
	border: 2px solid $colour-body;
	color: $white;
	position: fixed;
	right: 15px;
	bottom: 15px;
	text-align: center;
	line-height: 36px;
	font-size: 30px;
	cursor: pointer;
	z-index: 99;
	display: none;
	@include ips-radius(5px);
	@include ips-transition(color 0.25s ease-in-out);

	&:hover {
		color: $colour-main;
	}
}
