// Colour Definitions
$white: #fff;
$grey: #333; // body
$black: #000; // layout text colours
$blue: #24F4FF;

// Fonts
$font-primary: Arial, Helvetica, sans-serif;
$font-primary-default-size: 22px;
$font-primary-default-weight: 700;
$font-primary-default-colour: $grey;
$font-primary-default-spacing: 0.5px;

// Paddings
$section-padding: 40px;
