<div id="main" class="page-portfolio">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ title }}</h1>
                    <div class="dyn-content">
                        {{ content|raw }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="portfolio-list">
        <div class="container">
            <div class="row">
                {{ portfolios|raw }}
            </div>
        </div>
    </section>
</div>
