<div id="main" class="page blog blog-post">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ title }}</h1>
                    <div id="featured-image">
                        {{ featured_image|raw }}
                    </div>
                    <div class="dyn-content">
                        {{ content|raw }}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
