<div class="col-6">
    <div class="portfolio-preview" style="background-image:url('{{ featured_image_href }}');">
        <a class="portfolio-preview-inner" href="{{ href }}">
            <div class="portfolio-preview-content">
                <h2 class="portfolio-preview-content-title">{{ title }}</h2>
            </div>
        </a>
    </div>
</div>
