<div class="property">
    <div class="row">
        <div class="col-md-2">
            <a href="/property/{{ slug }}">
                <img src="{{ thumbnail }}" />
            </a>
        </div>
        <div class="col-md-10">
            <a href="/property/{{ slug }}">
                <h2>{{ address }}</h2>
            </a>
        </div>
    </div>
</div>