<head>
	<meta charset="UTF-8" />
	<meta name="robots" content="INDEX,FOLLOW" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	{# <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" /> #}
	<title>{{ page_title }}</title>

	{% if libraries is defined %}
		{% if libraries.styles is defined %}
			{% for library_style in libraries.styles %}
				<link href="{{ library_style }}" rel="stylesheet" type="text/css">
			{% endfor %}
		{% endif %}
	{% endif %}

	{% if stylesheets is defined %}
		{% for stylesheet in stylesheets %}
			<link href="{{ stylesheet }}" rel="stylesheet" type="text/css">
		{% endfor %}
	{% endif %}
</head>
