* {

}

html {

}

body {
	position: relative;
	background-color: #333;
	margin: 0;
	overflow-y: scroll;
}

section {
	width: 100%;
}

span, p, li, a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	color: #333;
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

h6 {
}

/*a, .a, a i, .a i {
	@include ips-transition( .25s ease-in-out );
}*/

a, .a {
	@include ips-transition(.25s ease-in-out);
}
