#header {
	width: 100%;
	height: 65px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #333;
	z-index: 100;
	border-bottom: 2px solid $colour-body-alt;

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;

		li {
			position: relative;
			display: inline-block;

			a {
				color: #fff;

				i {
					margin-right: 5px;
				}

				&:hover {
					color: $href-colour;
				}
			}

			ul {
				display: none;
				position: relative;
			}

			.menu-sub-item {
				display: none;
			}

			&.current > a {
				color: $href-colour;
			}
		}
	}

	header {
		width: 100%;
		height: 34px;
		padding: 3px 0 0 0;

		#header-logo {
			width: 160px;
			float: left;

			img {
				width: 88px;
				height: 28px;
				float: left;
			}

			p {
				float: right;
				@include font-primary(12px, 400, #fff);
				margin: 17px 0 0;
			}

			@include clearfix();
		}

		ul {
			float: right;
			margin-top: 2px;

			li {
				margin-left: 10px;

				a {
					color: $colour-body-alt;
				}
			}
		}

		.head-mob-button {
			display: none;
		}
	}

	nav {
		width: 100%;
		height: 30px;

		ul {
			float: left;

			li {
				height: 30px;
				margin-right: 8px;

				a {
					display: block;
					line-height: 26px;
					color: #fff;
					font-size: 16px;
					padding: 2px 6px;
					background-color: $colour-body-alt;

					span {
						margin-right: 8px;
					}
				}
			}
		}
	}
}

body {
	padding: 60px 0 0 0;
}

/* -----| Tablet and Mobile |----- */
@include lg-up() {
	#header {
		nav {
			ul {
				li {
					ul {
						width: 200px;
						padding: 0 6px;
						position: absolute;
						top: 29px;
						left: 0;
						background-color: #333;
						border: 1px solid $colour-body-alt;
						border-top: 2px solid $colour-body-alt;

						li {
							display: block;
							margin: 0;

							a {
								background: none;
							}
						}
					}

					&:hover ul {
						display: block;
					}
				}
			}
		}
	}
}

/* -----| Tablet and Mobile |----- */
@include md-down() {

	$md-header-height: 50px;

	#header {
		height: $md-header-height;
		border-bottom: 3px solid $colour-body-alt;

		ul {
			li {
				.menu-sub-item {
					width: 28px;
					height: 28px;
					display: block;
					position: absolute;
					top: 5px;
					right: 15px;
					cursor: pointer;

					i {
						color: #fff;
						font-size: 30px;
					}

					&.open {
						.open {
							display: block;
						}

						.close {
							display: none;
						}
					}

					&.close {
						.open {
							display: none;
						}

						.close {
							display: block;
						}
					}
				}

				ul {
					top: 0;
					overflow: hidden;
				}
			}
		}

		header {
			height: auto;
			padding: 0;

			#header-logo {
				margin: 9px auto 0;
				display: block;
				float: none;
			}

			.head-mob-button {
				width: $md-header-height;
				height: $md-header-height;
				display: block;
				position: relative;
				float: left;
				margin-right: 10px;
				background-color: $colour-body-alt;
				padding: 10px 8px;
				text-align: center;
				cursor: pointer;

				i {
					font-size: 30px;
					color: #fff;

					&.open {
						display: block;
					}

					&.close {
						display: none;
					}
				}

				&.active {
					i {
						&.open {
							display: none;
						}

						&.close {
							display: block;
						}
					}
				}
			}

			#header-menu-button, #nav-menu-button {
				display: block;
			}

			#header-menu-button {
				float: right;
				margin: 0;
			}

			#header-menu {
				left: 30px;
			}

			@include clearfix();
		}

		nav {
			height: auto;
		}

		header ul, nav ul {
			width: 100%;
			height: calc(100% - #{$md-header-height});
			display: none;
			position: fixed;
			top: $md-header-height;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: $colour-body-alt;
			margin: 0;
			float: none;
			overflow-y: scroll;

			li {
				height: auto;
				display: block;
				margin: 0;
				border-bottom: 1px solid #333;

				a {
					display: block;
					font-size: 20px;
					line-height: 1;
					padding: 10px 15px;
					color: $white;

					i {
						width: 25px;
					}
				}

				ul {
					li {
						a {
							font-size: 18px;
						}
					}
				}

				&:hover {
					background-color: #888;
				}

				&:last-child {
					border: 0;
				}
			}
		}
	}

	body {
		padding: $md-header-height 0 0 0;
	}
}

/* -----| Mobile Only |----- */
@include sm-down() {

	#header {
		nav .container {
			margin: 0;
		}
	}
}
