form {
	fieldset {
		padding: 0;
		border: 0;
		padding-bottom: 10px;
		margin-bottom: 10px;
		position: relative;
		border-bottom: 1px solid $black;

		label {

		}

		input, textarea {
			width: 60%;
			float: right;
			padding: 5px;
		}

		&.error {
		}

		&.error input {
			border-color: red;
		}

		&.error .message {
			position: absolute;
			bottom: 0;
			color: red;
		}

		&.radio {
			label:first-child {
				display: block;
			}
			label.radiofield {
				float: right;
				margin-left: 40px;

				input {
					width: 15px;
					height: 15px;
					margin: 0 0 0 5px;
				}
			}
		}

		&:last-child {
			border: 0;
		}
	}
}
