.loader {
	display: none;
}

body.wait .loader, html.wait .loader, .loader.active {
	display: block;
	@include ips-fill_parent();
	background-color: rgba(#000, 0.5);
	z-index: 99;

	.loader-icon,
	.loader-icon:after {
		border-radius: 50%;
		width: 130px;
		height: 130px;
	}

	.loader-icon {
		width: 130px;
		height: 130px;
		margin: auto;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		font-size: 10px;
		text-indent: -9999em;
		border-top: 1.1em solid rgba(255, 255, 255, 0.2);
		border-right: 1.1em solid rgba(255, 255, 255, 0.2);
		border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
		border-left: 1.1em solid $white;
		@include ips-transform(translateZ(0));
		@include ips-spin(0.6s);
	}

	.loader-message {
		height: 20px;
		display: block;
		position: fixed;
		margin: auto;
		top: 160px;
		right: 0;
		bottom: 0;
		left: 0;
		text-align: center;
		color: $white;
		z-index: 100;
	}
}

@mixin contain_loader() {
	position: relative;

	.loader, .loader.active {
		.loader-icon, .loader-message {
			position: absolute;
		}
	}
}
