/* Spin */
@mixin ips-spin($duration){
	animation: spin $duration linear infinite;
	-moz-animation: spin $duration linear infinite;
	-webkit-animation: spin $duration linear infinite;
	-o-animation: spin $duration linear infinite;

}

@keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* Zoom */
@mixin zoom() {
	-moz-transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}

/* No animation */
@mixin no-animation() {
	-webkit-animation: none !important;
	-moz-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
}