<div id="main" class="page-services">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ title }}</h1>
                    <div class="dyn-content">
                        {{ content|raw }}
                    </div>
                    <div id="services-list">
                        {{ services|raw }}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
