<div class="service-preview">
    <a class="service-preview-inner row" href="{{ href }}">
        <div class="col-3">
            <div class="service-preview-icon">
                <i class="{{ icon }}"></i>
            </div>
        </div>
        <div class="service-preview-content col-9">
            <h2>{{ title }}</h2>
            <p>{{ preview|raw }}</p>
        </div>
    </a>
</div>
