#main.page.blog {
	.blog-post-preview {
		padding: 10px 0;
		border-bottom: 1px solid $colour-bg;

		.blog-post-preview-inner {
			.blog-post-preview-image {
				@include ips-make_square();
				background-size: cover;
				background-position: center;
			}

			.blog-post-preview-content {
				padding-left: 20px;

				h2 {
					margin: 0 0 15px;
				}

				p {
					margin: 0;
				}
			}
		}
	}
}
