#main.page-home {
	section {
		padding: 0;
	}

	#home-services {
		background-color: #888888;
		padding: 30px 0 0;
		background-size: cover;
		background-position: center;

		.service {
			@include ips-make_square();
			background-color: $colour-bg;
			margin-bottom: 30px;
			border-bottom: 4px solid $colour-bg-alt;

			.inner {
				padding: 10px 15px;

				h2 {
					font-size: 18px;
					color: $white;
				}

				p {
					font-size: 15px;
					color: $white;
					margin-top: 10px;
				}

				.button {
					width: 100%;
					position: absolute;
					right: 0;
					bottom: 0;
					left: 0;
					background-color: #4a4a4a;
				}
			}
		}
	}
}
