#main.page-services {

	#services-list {
		.service-preview {
			padding: 10px 0;
			border-bottom: 1px solid $colour-bg;

			.service-preview-inner {

				.service-preview-icon {
					@include ips-make_square();

					i {
						position: absolute;
						font-size: 90px;
					}
				}

				.service-preview-content {

				}
			}
		}
	}
}

#main.page-service {
	#service-head {
		padding-bottom: 0;

		h1 {
			@include ips-horizontal_center();
		}

		#service-icon {
			font-size: 90px;
		}
	}
}


